.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #f97533;
    z-index: 1000; /* Make sure it stays on top */
}

.navbar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
}

.navbar ul li {
    margin: 0 15px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    padding: 2px 15px;
    display: block;
}

.navbar ul li a:hover {
    background-color: #575757;
    border-radius: 5px;
}











* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
    font-size: x-large;
}

body {
    line-height: 1.6;
}

h1, h2 {
    color: white;
}

p {
    color: white;
}

/* Parallax sections */
.parallax {
    height: 1080px; /* Full viewport height */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.parallax1 {
    background-image: url('ocean2.jpg');
}

.parallax2 {
    background-image: url('hdd.jpg');
}

/* Content inside the parallax */
.parallax .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/* Regular content sections */
.content-section {
    padding: 100px;
    background: #686868;
    text-align: center;
}

.content-section h2, .content-section p {
    color: #fff;
}


